.logement {
  /* padding: 20px; */
    padding: 40px 50px 20px 40px;
}

.logement-header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 20px;
}

.tags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.tag {
  background: #ff6060;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 0.9rem;
}

.host {
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: right;
}

.host img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.logement-details {
  display: flex;
  gap: 60px;
  margin-top: 20px;
}

.logement-details > * {
  flex: 1;
}
.rating {
  margin-top: 10px;
  display: flex;
  gap: 5px;
}

.star {
  color: #e3e3e3; /* gris clair pour étoiles vides */
  font-size: 1.2rem;
}

.star.filled {
  color: #ff6060; /* rouge Kasa */
}
.host {
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: right;
}

.host-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* texte et étoiles alignés à droite */
}

.rating {
  margin-top: 5px;
  display: flex;
  gap: 5px;
}

.star {
  color: #e3e3e3; /* gris clair pour étoiles vides */
  font-size: 1.2rem;
}

.star.filled {
  color: #ff6060; /* rouge Kasa */
}


/* 📱 Mobile */
@media (max-width: 768px) {
  .logement-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .host {
    flex-direction: row-reverse;
    align-self: flex-end;
  }

  .logement-details {
    flex-direction: column;
  }

  .logement-details > * {
    width: 100%;
  }
  
}

